{% load static %}


<div id="open-addtocart-popup" class="addtocart-popup magnific-popup mfp-hide">
    <div class="addtocart-inner text-center clearfix">
        <h4>Added to your shopping cart.</h4>
        <div class="pro-img">
            <img class="img-fluid blur-up lazyload" src="{% static 'assets/images/product-images/addtocart-popup.jpg' %}" data-src="{% static 'assets/images/product-images/addtocart-popup.jpg' %}" alt="image" title="image" />
        </div>
        <div class="pro-details">
            <p class="pro-name mb-0">Floral Lined Jacket</p>
            <p class="pro-cz mb-0">Gray / XL</p>
            <p class="mb-0 qty-tol">1 X $113.88</p>
            <div class="addcart-total">
                Total: <b class="price">$113.88</b>
            </div>
            <div class="button-action">
                <button class="btn btn-secondary continue-shopping close-popup">Continue Shopping</button>
                <a href="cart.html" class="btn btn-primary view-cart">View Cart</a>
            </div>
        </div>
    </div>
</div>