{% load static %}


<div class="newsletter-wrap" id="popup-container">
    <div id="popup-window">
        <a class="btn closepopup"><i class="icon icon an an-times"></i></a>
        <!-- Modal content-->
        <div class="display-table splash-bg">
            <div class="display-table-cell width40"><img src="{% static 'assets/images/newsletter-img.jpg' %}" alt="Join Our Mailing List" title="Join Our Mailing List" /></div>
            <div class="display-table-cell width60 text-center">
                <div class="newsletter-left">
                    <h1>Get Updates from Diva</h1>
                    <p>Be the first to know about our new arrivals, exclusive offers and the latest fashion updates.</p>
                    <form action="#" method="post">
                        <div class="input-group">
                            <input type="email" class="input-group__field newsletter__input" name="EMAIL" value="" placeholder="Email address" required />
                            <span class="input-group__btn">
                                <button type="submit" class="btn newsletter__submit w-100" name="commit" id="subscribeBtn"> <span class="newsletter__submit-text--large">Sign Up</span> </button>
                            </span>
                        </div>
                    </form>
                    <ul class="list--inline justify-content-center site-footer__social-icons social-icons">
                        <li><a class="social-icons__link" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon an an-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="social-icons__link" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon an an-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="social-icons__link" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon an an-pinterest-p" aria-hidden="true"></i></a></li>
                        <li><a class="social-icons__link" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon an an-instagram" aria-hidden="true"></i></a></li>
                        <li><a class="social-icons__link" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="YouTube"><i class="icon an an-youtube" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>