{% load static %}


<div class="product-suggestion-content clearfix border-0 rounded-0 alert fade show" role="alert">
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><i class="an an-times" aria-hidden="true"></i></button>
    <div class="product-suggestion">
        <div class="suggestion-item">
            <div class="d-table suggestion-product">
                <div class="d-table-cell align-middle">
                    <img class="img-fluid blur-up lazyload" src="{% static 'assets/images/product-images/product-suggestion1.jpg' %}" data-src="{% static 'assets/images/product-images/product-suggestion1.jpg' %}" width="85" alt="image" title="image" />
                </div>
                <div class="d-table-cell align-middle ps-3">
                    <span class="s-some d-block">Someone liked and Bought</span>
                    <a class="s-name d-block" href="product-layout1.html"><b>Fit & Flare Trim Dress</b></a>
                    <span class="s-minutes d-block">26 minutes ago</span>
                    <span class="s-form d-block">From <b>New York, USA</b></span>
                </div>
            </div>
        </div>
        <div class="suggestion-item">
            <div class="d-table suggestion-product">
                <div class="d-table-cell align-middle">
                    <img class="img-fluid blur-up lazyload" src="{% static 'assets/images/product-images/product-suggestion2.jpg' %}" data-src="{% static 'assets/images/product-images/product-suggestion2.jpg' %}" width="85" alt="image" title="image" />
                </div>
                <div class="d-table-cell align-middle ps-3">
                    <span class="s-some d-block">Someone liked and Bought</span>
                    <a class="s-name d-block" href="product-layout1.html"><b>Floral Lined Jacket</b></a>
                    <span class="s-minutes d-block">18 minutes ago</span>
                    <span class="s-form d-block">From <b>London</b></span>
                </div>
            </div>
        </div>
    </div>
</div>