{% load static %}


<div id="open-wishlist-popup" class="wishlist-popup magnific-popup mfp-hide">
    <div class="wishlist-inner text-center clearfix">
        <h4>Successfully added in wishlist</h4>
        <div class="pro-img">
            <img class="img-fluid blur-up lazyload" src="{% static 'assets/images/product-images/addwishlist-popup.jpg' %}" data-src="{% static 'assets/images/product-images/addwishlist-popup.jpg' %}" alt="image" title="image" />
        </div>
        <div class="pro-details">
            <p class="pro-name mb-2">Frayed Layered Sleeve</p>
            <div class="button-action">
                <button class="btn btn-secondary mb-2 continue-shopping close-popup">Continue Shopping</button>
                <a href="wishlist.html" class="btn btn-primary view-wishlist">View Wishlist</a>
            </div>
        </div>
    </div>
</div>