{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock title %}


{% block css %}
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
<link type="text/css" rel="stylesheet"
    href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css" />
{% endblock css %}


{% block content %}
<section class="template-product diva">
    <div class="pageWrapper">
        <!-- Body Content -->
        <div id="page-content">
            <!-- Bredcrumbs -->
            <div class="bredcrumbWrap bredcrumb-style2">
                <div class="container breadcrumbs">
                    <a href="{% url 'home' %}" title="Back to the home page">Home</a><span
                        aria-hidden="true">|</span><span class="title-bold">Product Layout1</span>
                </div>
            </div>
            <!-- End Bredcrumbs -->

            <div class="container">
                <!-- Main Content -->
                <div id="ProductSection-product-template" class="product-template__container prstyle2">
                    <!-- #ProductSection product template -->
                    <div class="product-single product-single-1">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product-details-img product-single__photos bottom">
                                    <!-- Product Images -->
                                    <div class="zoompro-wrap product-zoom-right pl-20">
                                        <div class="zoompro-span">
                                            <img class="blur-up lazyload zoompro"
                                                data-zoom-image="{{ product.image.url }}" alt=""
                                                src="{{ product.image.url }}" />
                                        </div>
                                        <div class="product-labels"><span class="lbl pr-label1">
                                            <!-- {{ product.product_label }}</span><span class="lbl on-sale">Exclusive</span></div> -->
                                            {{ product.product_label }}</span></div>
                                    </div>
                                    <!-- Wishlist - Share -->
                                    <div class="display-table shareRow pt-3 pb-0 d-table">
                                        <div class="display-table-cell text-center align-top">
                                            <div id="shareButtonLabel"></div>
                                        </div>
                                    </div>
                                    <!-- End Wishlist - Share -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <!-- Product Info -->
                                <div class="product-single__meta">
                                    <h1 class="product-single__title">{{ product.name }}</h1>
                                    <!-- Product Price -->
                                    {% if product.discount_price %}
                                    <div class="product-single__price product-single__price-product-template">
                                        <span class="visually-hidden">Regular price</span>
                                        <s id="ComparePrice-product-template"><span class="money">
                                            ${{ product.regular_price }}</span></s>
                                        <span
                                            class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                            <span id="ProductPrice-product-template"><span class="money">
                                                ${{ product.discount_price }}</span></span>
                                        </span>
                                    </div>
                                    {% else %}
                                    <div class="product-single__price product-single__price-product-template">
                                        <span
                                            class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                            <span id="ProductPrice-product-template"><span class="money">
                                                ${{ product.regular_price }}</span></span>
                                        </span>
                                    </div>
                                    {% endif %}
                                    <!-- End Product Price -->

                                    <!-- Product Quantity -->
                                    <div id="quantity_message">Hurry! Only <span class="items">
                                        {{ product.stock_quantity }}</span> left in stock.
                                    </div>

                                    <!-- Form -->
                                    <form method="post" action="#"
                                        id="product_form_10508262282" accept-charset="UTF-8"
                                        class="product-form product-form-product-template product-form-border hidedropdown"
                                        enctype="multipart/form-data">
                                        <!-- Product Action -->
                                        <div class="product-action clearfix">
                                            <div class="product-form__item--quantity">
                                                <div class="wrapQtyBtn">
                                                    <div class="qtyField">
                                                        <a class="qtyBtn minus" href="javascript:void(0);"><i
                                                                class="icon an an-minus" aria-hidden="true"></i></a>
                                                        <input type="text" name="quantity" value="1"
                                                            class="product-form__input qty" />
                                                        <a class="qtyBtn plus" href="javascript:void(0);"><i
                                                                class="icon an an-plus" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-form__item--submit">
                                                <a href="{% url 'add_to_cart' product.pk %}" name="add"
                                                    class="btn product-form__cart-submit"><span>Add to
                                                        cart</span></a>
                                            </div>
                                            <div class="payment-button" data-shopify="payment-button">
                                                <a href="{% url 'add_to_cart' product.pk %}"
                                                    class="payment-button__button payment-button__button--unbranded">Buy
                                                    it now</a>
                                            </div>
                                        </div>
                                        <!-- End Product Action -->
                                        <!-- Wishlist - Compare -->
                                        <div class="infolinks d-flex flex-wrap align-items-center px-0 mb-0">
                                            <a class="wishlist add-to-wishlist d-flex align-items-center"
                                                href="wishlist.html"><i class="icon an an-heart me-1"></i> <span>Add to
                                                    Wishlist</span></a>
                                            <a class="wishlist add-to-wishlist d-flex align-items-center"
                                                href="compare.html"><i class="icon an an-sync me-1"></i> <span>Add to
                                                    Compare</span></a>
                                            <a class="wishlist emaillink d-flex align-items-center"
                                                href="#productInquiry"><i class="icon an an-envelope me-1"
                                                    style="margin-top:-1px;"></i> <span>Enquiry</span></a>
                                            <a class="wishlist shippingInfo d-flex align-items-center"
                                                href="#ShippingInfo"><i class="icon an an-telegram-plane me-1"></i>
                                                <span>Delivery &amp; Returns</span></a>
                                        </div>
                                        <!-- End Wishlist - Compare -->
                                    </form>
                                    <!-- End Form -->
                                </div>
                                <!-- End Product Info -->
                            </div>
                        </div>
                        <!-- End Product single -->

                        <!-- Product Tabs -->
                        <div class="tabs-listing tab-details mt-0 mt-md-4">
                            <!-- Tabs -->
                            <ul class="product-tabs d-none d-md-block">
                                <li class="active" rel="tab1"><a class="tablink">Product Details</a></li>
                                <li rel="tab2"><a class="tablink">Product Reviews</a></li>
                                <li rel="tab3"><a class="tablink">Size Chart</a></li>
                                <li rel="tab4"><a class="tablink">Shipping &amp; Returns</a></li>
                            </ul>
                            <!-- End Tabs -->
                            <!-- Tabs Container -->
                            <div class="tab-container pb-0 mb-0">
                                <!-- Tabs Content One -->
                                <h3 class="acor-ttl active d-block d-md-none" rel="tab1">Product Details</h3>
                                <div id="tab1" class="tab-content py-3 py-md-0" style="display:block;">
                                    <div class="product-description rte">
                                        {{ product.details|safe }}
                                    </div>
                                </div>
                                <!-- End Tabs Content One -->
                                <!-- Tabs Content Two -->
                                <h3 class="acor-ttl d-block d-md-none" rel="tab2">Product Reviews</h3>
                                <div id="tab2" class="tab-content py-3 py-md-0">
                                    <div id="shopify-product-reviews">
                                        <div class="spr-container">
                                            <div class="spr-header clearfix">
                                                <div
                                                    class="spr-summary text-center d-flex justify-content-start justify-content-sm-between flex-column flex-sm-row">
                                                    <span class="product-review justify-content-center"><a
                                                            class="reviewLink"><i class="an an-star"></i><i
                                                                class="an an-star"></i><i class="an an-star"></i><i
                                                                class="an an-star"></i><i
                                                                class="an an-star-half-alt"></i></a><span
                                                            class="spr-summary-actions-togglereviews ms-2">Based on 6
                                                            reviews 456</span></span>
                                                    <span class="spr-summary-actions mt-3 mt-sm-0">
                                                        <a href="#"
                                                            class="spr-summary-actions-newreview write-review-btn btn"><i
                                                                class="an-1x an an-pencil-alt me-1"></i> Write a
                                                            review</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="spr-content">
                                                <div class="product-review-form spr-form clearfix"
                                                    style="display:none;">
                                                    <form method="post" action="#" id="new-review-form"
                                                        class="new-review-form">
                                                        <h3 class="spr-form-title">Write a review</h3>
                                                        <fieldset class="spr-form-contact">
                                                            <div class="spr-form-contact-name">
                                                                <label class="spr-form-label"
                                                                    for="review_author_10508262282">Name</label>
                                                                <input class="spr-form-input spr-form-input-text"
                                                                    id="review_author_10508262282" type="text"
                                                                    name="review[author]" value=""
                                                                    placeholder="Enter your name">
                                                            </div>
                                                            <div class="spr-form-contact-email">
                                                                <label class="spr-form-label"
                                                                    for="review_email_10508262282">Email</label>
                                                                <input class="spr-form-input spr-form-input-email "
                                                                    id="review_email_10508262282" type="email"
                                                                    name="review[email]" value=""
                                                                    placeholder="john.smith@example.com">
                                                            </div>
                                                        </fieldset>
                                                        <fieldset class="spr-form-review">
                                                            <div class="spr-form-review-rating">
                                                                <label class="spr-form-label">Rating</label>
                                                                <div class="spr-form-input spr-starrating">
                                                                    <div class="product-review justify-content-start">
                                                                        <a class="reviewLink" href="#"><i
                                                                                class="an an-star"></i><i
                                                                                class="an an-star"></i><i
                                                                                class="an an-star"></i><i
                                                                                class="an an-star"></i><i
                                                                                class="an an-star-half-alt"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="spr-form-review-title">
                                                                <label class="spr-form-label"
                                                                    for="review_title_10508262282">Review Title</label>
                                                                <input class="spr-form-input spr-form-input-text"
                                                                    id="review_title_10508262282" type="text"
                                                                    name="review[title]" value=""
                                                                    placeholder="Give your review a title">
                                                            </div>
                                                            <div class="spr-form-review-body">
                                                                <label class="spr-form-label"
                                                                    for="review_body_10508262282">Body of Review <span
                                                                        class="spr-form-review-body-charactersremaining">(1500)</span></label>
                                                                <div class="spr-form-input">
                                                                    <textarea
                                                                        class="spr-form-input spr-form-input-textarea"
                                                                        id="review_body_10508262282"
                                                                        data-product-id="10508262282"
                                                                        name="review[body]" rows="5"
                                                                        placeholder="Write your comments here"></textarea>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <fieldset class="spr-form-actions">
                                                            <input type="submit"
                                                                class="spr-button spr-button-primary button button-primary btn btn-primary"
                                                                value="Submit Review">
                                                        </fieldset>
                                                    </form>
                                                </div>
                                                <div class="spr-reviews">
                                                    <div class="spr-review">
                                                        <div class="spr-review-header">
                                                            <span
                                                                class="product-review spr-starratings spr-review-header-starratings"><span
                                                                    class="reviewLink"><i class="an an-star"></i><i
                                                                        class="an an-star"></i><i
                                                                        class="an an-star"></i><i
                                                                        class="an an-star"></i><i
                                                                        class="an an-star"></i></span></span>
                                                            <h3 class="spr-review-header-title">Lorem ipsum dolor sit
                                                                amet</h3>
                                                            <span
                                                                class="spr-review-header-byline"><strong>dsacc</strong>
                                                                on <strong>Apr 09, 2019</strong></span>
                                                        </div>
                                                        <div class="spr-review-content">
                                                            <p class="spr-review-content-body">Lorem ipsum dolor sit
                                                                amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                                minim veniam, quis nostrud exercitation ullamco laboris
                                                                nisi ut aliquip ex ea commodo consequat.</p>
                                                        </div>
                                                    </div>
                                                    <div class="spr-review">
                                                        <div class="spr-review-header">
                                                            <span
                                                                class="product-review spr-starratings spr-review-header-starratings"><span
                                                                    class="reviewLink"><i class="an an-star"></i><i
                                                                        class="an an-star"></i><i
                                                                        class="an an-star"></i><i
                                                                        class="an an-star"></i><i
                                                                        class="an an-star-half-alt"></i></span></span>
                                                            <h3 class="spr-review-header-title">Lorem Ipsum is simply
                                                                dummy text of the printing</h3>
                                                            <span
                                                                class="spr-review-header-byline"><strong>larrydude</strong>
                                                                on <strong>Dec 30, 2018</strong></span>
                                                        </div>
                                                        <div class="spr-review-content">
                                                            <p class="spr-review-content-body">Sed ut perspiciatis unde
                                                                omnis iste natus error sit voluptatem accusantium
                                                                doloremque laudantium, totam rem aperiam, eaque ipsa
                                                                quae ab illo inventore veritatis et quasi architecto
                                                                beatae vitae dicta sunt explicabo.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Tabs Content Two -->
                                <!-- Tabs Content Three -->
                                <h3 class="acor-ttl d-block d-md-none" rel="tab3">Size Chart</h3>
                                <div id="tab3" class="tab-content py-3 py-md-0">
                                    <div class="product-description rte">
                                        <h4>WOMEN'S BODY SIZING CHART</h4>
                                        <div class="table-responsive">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th>Size</th>
                                                        <th>XS</th>
                                                        <th>S</th>
                                                        <th>M</th>
                                                        <th>L</th>
                                                        <th>XL</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Chest</td>
                                                        <td>31" - 33"</td>
                                                        <td>33" - 35"</td>
                                                        <td>35" - 37"</td>
                                                        <td>37" - 39"</td>
                                                        <td>39" - 42"</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Waist</td>
                                                        <td>24" - 26"</td>
                                                        <td>26" - 28"</td>
                                                        <td>28" - 30"</td>
                                                        <td>30" - 32"</td>
                                                        <td>32" - 35"</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hip</td>
                                                        <td>34" - 36"</td>
                                                        <td>36" - 38"</td>
                                                        <td>38" - 40"</td>
                                                        <td>40" - 42"</td>
                                                        <td>42" - 44"</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Regular inseam</td>
                                                        <td>30"</td>
                                                        <td>30½"</td>
                                                        <td>31"</td>
                                                        <td>31½"</td>
                                                        <td>32"</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Long (Tall) Inseam</td>
                                                        <td>31½"</td>
                                                        <td>32"</td>
                                                        <td>32½"</td>
                                                        <td>33"</td>
                                                        <td>33½"</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h4 class="mt-0 pt-1">MEN'S BODY SIZING CHART</h4>
                                        <div class="table-responsive">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th>Size</th>
                                                        <th>XS</th>
                                                        <th>S</th>
                                                        <th>M</th>
                                                        <th>L</th>
                                                        <th>XL</th>
                                                        <th>XXL</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Chest</td>
                                                        <td>33" - 36"</td>
                                                        <td>36" - 39"</td>
                                                        <td>39" - 41"</td>
                                                        <td>41" - 43"</td>
                                                        <td>43" - 46"</td>
                                                        <td>46" - 49"</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Waist</td>
                                                        <td>27" - 30"</td>
                                                        <td>30" - 33"</td>
                                                        <td>33" - 35"</td>
                                                        <td>36" - 38"</td>
                                                        <td>38" - 42"</td>
                                                        <td>42" - 45"</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hip</td>
                                                        <td>33" - 36"</td>
                                                        <td>36" - 39"</td>
                                                        <td>39" - 41"</td>
                                                        <td>41" - 43"</td>
                                                        <td>43" - 46"</td>
                                                        <td>46" - 49"</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-center mt-3">
                                            <img src="assets/images/size.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <!-- End Tabs Content Three -->
                                <!-- Tabs Content Four -->
                                <h3 class="acor-ttl d-block d-md-none" rel="tab4">Shipping &amp; Returns</h3>
                                <div id="tab4" class="tab-content py-3 py-md-0">
                                    <h4>Returns Policy</h4>
                                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eros
                                        justo, accumsan non dui sit amet. Phasellus semper volutpat mi sed imperdiet. Ut
                                        odio lectus, vulputate non ex non, mattis sollicitudin purus. Mauris consequat
                                        justo a enim interdum, in consequat dolor accumsan. Nulla iaculis diam purus, ut
                                        vehicula leo efficitur at.</p>
                                    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. In blandit nunc
                                        enim, sit amet pharetra erat aliquet ac.</p>
                                    <h4>Shipping</h4>
                                    <p>Pellentesque ultrices ut sem sit amet lacinia. Sed nisi dui, ultrices ut turpis
                                        pulvinar. Sed fringilla ex eget lorem consectetur, consectetur blandit lacus
                                        varius. Duis vel scelerisque elit, et vestibulum metus. Integer sit amet
                                        tincidunt tortor. Ut lacinia ullamcorper massa, a fermentum arcu vehicula ut. Ut
                                        efficitur faucibus dui Nullam tristique dolor eget turpis consequat varius.
                                        Quisque a interdum augue. Nam ut nibh mauris.</p>
                                </div>
                                <!-- End Tabs Content Four -->
                            </div>
                            <!-- End Tabs Container -->
                        </div>
                        <!-- End Product Tabs -->

                        <!-- Related Product Slider -->
                        <div class="related-product grid-products">
                            <header class="section-header">
                                <h2 class="section-header__title text-center h2"><span>Related Products</span></h2>
                                <p class="sub-heading">You can stop autoplay, increase/decrease aniamtion speed and
                                    number of grid to show and products from store admin.</p>
                            </header>
                            <div class="productPageSlider">
                                {% for related_product in related_products %}
                                <div class="col-12 item">
                                    <!-- Product Image -->
                                    <div class="product-image">
                                        <!-- Product Image -->
                                        <a href="#">
                                            <!-- Image -->
                                            <img class="primary blur-up lazyload"
                                                data-src="{{ related_product.image.url }}"
                                                src="{{ related_product.image.url }}" alt="image"
                                                title="product" />
                                            <!-- End Image -->
                                            <!-- Hover Image -->
                                            <img class="hover blur-up lazyload"
                                                data-src="{{ related_product.hover_image.url }}"
                                                src="{{ related_product.hover_image.url }}" alt="image"
                                                title="product" />
                                            <!-- End Hover Image -->
                                        </a>
                                        <!-- End Product Image -->

                                        <!-- Product Button -->
                                        <div class="button-set">
                                            <div class="variants add" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="add to cart">
                                                <form class="addtocart" action="#" method="post">
                                                    <a href="#open-addtocart-popup"
                                                        class="btn cartIcon btn-addto-cart open-addtocart-popup"><i
                                                            class="icon an an-shopping-bag"></i></a>
                                                </form>
                                            </div>
                                            <div class="wishlist-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="add to wishlist">
                                                <a href="#open-wishlist-popup"
                                                    class="open-wishlist-popup wishlist add-to-wishlist"><i
                                                        class="icon an an-heart"></i></a>
                                            </div>
                                        </div>
                                        <!-- End Product Button -->
                                    </div>
                                    <!-- End Product Image -->

                                    <!-- Product Details -->
                                    <div class="product-details text-center">
                                        <!-- Product Name -->
                                        <div class="product-name">
                                            <a href="product-layout1.html">Edna Dress</a>
                                        </div>
                                        <!-- End Product Name -->
                                        <!-- Product Price -->
                                       {% if related_product.discount_price %}
                                        <div class="product-price">
                                            <span class="old-price">${{ related_product.regular_price }}</span>
                                            <span class="price">${{ related_product.discount_price }}</span>
                                        </div>
                                       {% else %}
                                       <div class="product-price">
                                            <span class="price">${{ related_product.regular_price }}</span>
                                        </div>
                                       {% endif %}
                                       
                                        <!-- End Product Price -->
                                    </div>
                                    <!-- End Product Details -->
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End Related Product Slider -->
                    </div>
                    <!-- #ProductSection product template -->
                </div>
                <!-- End Main Content -->
            </div>
        </div>
        <!-- End Body Content -->
    </div>
</section>
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
<script>
    $("#shareButtonLabel").jsSocials({
        url: "http://url.to.share",
        text: "text to share",
        showCount: false,
        showLabel: true,
        shares: [
            "twitter",
            "email",
            { share: "facebook", label: "Facebook" },
            { share: "linkedin", label: "LinkedIn" },
            { share: "pinterest", label: "Pinterest" },
        ]
    });
</script>
{% endblock %}