{% extends "base.html" %}

{% block title %}
E-commerce | 404
{% endblock title %}

{% block content %}
<section class="page-template error-404-page">
    <!-- Page Wrapper -->
    <div class="pageWrapper">

        <!-- Body Content -->
        <div id="page-content">
            <div class="container">
                <h1 class="page-title">404 Not Found</h1>
                <p><img src="{% static 'assets/images/error-img.jpg' %}" alt="Error-404" title="404 Error" /></p>
                <h2>Ooopps.! That page can’t be found.</h2>
                <p>It looks like nothing was found at this location.</p>
                <a href="{% url 'home' %}" class="btn btn-primary">Go home</a>
            </div>
        </div>
        <!-- End Body Content -->
    </div>
    <!-- End Page Wrapper -->
</section>
{% endblock content %}