{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock title %}


{% block content %}
<section class="page-template lookbook-template diva">
    <!-- Page Wrapper -->
    <div class="pageWrapper">
        <!-- Body Content -->
        <div id="page-content">
            <!-- Page Title -->
            <div class="page section-header text-center mb-0">
                <div class="page-title">
                    <div class="wrapper"><h1 class="page-width">LookBook</h1></div>
                </div>
            </div>
            <!-- End Page Title -->
            <!-- Breadcrumbs -->
            <div class="bredcrumbWrap bredcrumb-style2">
                <div class="container breadcrumbs">
                    <a href="{% url 'home' %}" title="Back to the home page">Home</a><span aria-hidden="true">|</span><span class="title-bold">Lookbook 3Columns</span>
                </div>
            </div>
            <!-- End Breadcrumbs -->

            <!-- Lookbook -->
            <div class="container">
                <div class="lookbook2">
                    <div class="lookbook grid-masonary">
                        <div class="grid-sizer col-12 col-sm-6 col-md-4 col-lg-4 float-start"></div>
                        <div class="gutter-sizer"></div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 grid-lookbook">
                            <div class="inner position-relative overflow-hidden">
                                <a href="collection-4columns.html">
                                    <img class="blur-up lazyload" data-src="{% static 'assets/images/lookbook/lookbook-1.jpg' %}" src="{% static 'assets/images/lookbook/lookbook-1.jpg' %}" alt="lookbook" />
                                    <h2>Hot Collection</h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 grid-lookbook">
                            <div class="inner position-relative overflow-hidden">
                                <a href="collection-4columns.html">
                                    <img class="blur-up lazyload" data-src="assets/images/lookbook/lookbook-2.jpg" src="assets/images/lookbook/lookbook-2.jpg" alt="lookbook" />
                                    <h2>Collection 2017 special</h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 grid-lookbook">
                            <div class="inner position-relative overflow-hidden">
                                <a href="collection-4columns.html">
                                    <img class="blur-up lazyload" data-src="assets/images/lookbook/lookbook-3.jpg" src="assets/images/lookbook/lookbook-3.jpg" alt="lookbook" />
                                    <h2>Summer Collection</h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 grid-lookbook">
                            <div class="inner position-relative overflow-hidden">
                                <a href="collection-4columns.html">
                                    <img class="blur-up lazyload" data-src="assets/images/lookbook/lookbook-4.jpg" src="assets/images/lookbook/lookbook-4.jpg" alt="lookbook" />
                                    <h2>High Heel Shoes Collection</h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 grid-lookbook">
                            <div class="inner position-relative overflow-hidden">
                                <a href="collection-4columns.html">
                                    <img class="blur-up lazyload" data-src="assets/images/lookbook/lookbook-5.jpg" src="assets/images/lookbook/lookbook-5.jpg" alt="lookbook" />
                                    <h2>Denim Jean's Collection</h2>
                                </a> 
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 grid-lookbook">
                            <div class="inner position-relative overflow-hidden">
                                <a href="collection-4columns.html">
                                    <img class="blur-up lazyload" data-src="assets/images/lookbook/lookbook-6.jpg" src="assets/images/lookbook/lookbook-6.jpg" alt="lookbook" />
                                    <h2>Men's Watch New Arrival</h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 grid-lookbook">
                            <div class="inner position-relative overflow-hidden">
                                <a href="collection-4columns.html">
                                    <img class="blur-up lazyload" data-src="assets/images/lookbook/lookbook-7.jpg" src="assets/images/lookbook/lookbook-7.jpg" alt="lookbook" />
                                    <h2>Hot Summer Collection</h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 grid-lookbook">
                            <div class="inner position-relative overflow-hidden">
                                <a href="collection-4columns.html">
                                    <img class="blur-up lazyload" data-src="assets/images/lookbook/lookbook-8.jpg" src="assets/images/lookbook/lookbook-8.jpg" alt="lookbook" />
                                    <h2>Women jackets</h2>
                                </a> 
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 grid-lookbook">
                            <div class="inner position-relative overflow-hidden">
                                <a href="collection-4columns.html">
                                    <img class="blur-up lazyload" data-src="assets/images/lookbook/lookbook-9.jpg" src="assets/images/lookbook/lookbook-9.jpg" alt="lookbook" />
                                    <h2>New Arrivals</h2>
                                </a> 
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 grid-lookbook">
                            <div class="inner position-relative overflow-hidden">
                                <a href="collection-4columns.html">
                                    <img class="blur-up lazyload" data-src="assets/images/lookbook/lookbook-10.jpg" src="assets/images/lookbook/lookbook-10.jpg" alt="lookbook" />
                                    <h2>50% Discount</h2>
                                </a> 
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 grid-lookbook">
                            <div class="inner position-relative overflow-hidden">
                                <a href="collection-4columns.html">
                                    <img class="blur-up lazyload" data-src="assets/images/lookbook/lookbook-11.jpg" src="assets/images/lookbook/lookbook-11.jpg" alt="lookbook" />
                                    <h2>Best Selling</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Lookbook -->
        </div>
        <!--End Body Content-->
    </div>
    <!-- End Page Wrapper -->
</section>
{% endblock content %}